body {
  font-family: "Nonito", Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(34, 32, 32);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  padding: 1em 2em;
  font-size: 2em;
  color: #ffa260;
  background-color: rgb(38, 36, 36);
  border: 2px solid;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
  color: white;
  border-color: #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  cursor: pointer;
}
